<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
span {
    color: #999;
    font-size: 
}
</style>

Yth. {{jbt_nama.user.jk.label2}} {{jbt_nama.user.nama}}
<br><br>
Bersama ini diberitahukan bahwa jadwal kenaikan pangkat staf {{jbt_nama.user.jk.label2}} adalah sebagai berikut:<br>
<table>
	<tr>
		<th rowspan="2">Nama</th>
		<th colspan="2">Golongan</th>
		<th rowspan="2">Periode</th>
	</tr>
	<tr>
		<th>Saat ini</th>
		<th>Target</th>
	</tr>
	{{#each stafNotif}}
        <tr>
			<td>{{user.nama}}</td>
			<td>{{gol_now}}</td>
			<td>{{gol_target}}</td>
			<td>{{../periode_usul}}</td>
		</tr>
    {{/each}}
</table>
Mohon bantuannya agar dipantau proses pengusulan kenaikan pangkat tersebut.
<br><br>
Terima kasih,
<br>
<em>Subbagian Kepegawaian STIS<em>
<hr>
<em><span>Email ini dibuat secara otomatis. Mohon tidak membalas email ini.</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://simanis.stis.ac.id">Masuk</a>.</span></em>