<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
span {
    color: #999;
    font-size: 
}
</style>

Yth. {{jbt_nama.user.jk.label2}} {{jbt_nama.user.nama}}
<br><br>
Sehubungan dengan rencana pemberian tanda penghargaan Satyalancana Karya Satya Tahun {{hrg_thn}}, bersama ini diberitahukan bahwa Staf {{jbt_nama.user.jk.label2}} yang dapat diusulkan untuk memperoleh Satyalancana Karya Satya (10 tahun, 20 tahun, 30 tahun) pada tahun {{hrg_thn}} adalah sebagai berikut : 
<table>
	<tr>
		<tr>
            <th>Nama</th>
            <th>Masa Kerja</th>
            <th>Target</th>
        </tr>
	</tr>
	{{#each stafNotif}}
        <tr>
            <td>{{user.nama}}</td>
            <td>{{masa_kerja}}</td>
            <td>{{hrg_target}}</td>
        </tr>
    {{/each}}
</table>
Perlu diketahui syarat masa kerja tersebut hanya sebagai dasar seleksi penyusunan usulan penerima Satyalancana Karya Satya. Pimpinan akan melakukan seleksi berdasarkan kriteria yang telah ditentukan antara lain:
<ol type="a">
    <li>Rata-rata PPK PNS Tahun sebelumnya bernilai baik dan tidak ada aspek serta unsur yang bernilai cukup;</li>
    <li>Menunjukkan kesetiaan, pengabdian, kecakapan, kejujuran, kedisiplinan dan prestasi kerja yang baik sehingga dapat dijadikan teladan bagi setiap pegawai lain;</li>
    <li>Dalam masa kerja yang diusulkan yang bersangkutan tidak pernah dijatuhi hukuman disiplin Tingkat Sedang atau Tingkat Berat.</li>
</ol>
Demikian disampaikan atas perhatiannya Terima kasih.
<br>
<em>Subbagian Kepegawaian STIS<em>
<hr>
<em><span>Email ini dibuat secara otomatis. Mohon tidak membalas email ini.</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://simanis.stis.ac.id">Masuk</a>.</span></em>