<style>
span {
    color: #999;
    font-size: 
}
</style>
Yth. {{user.jk.label2}} {{user.nama}}
<br><br>
Bersama ini diberitahukan bahwa masa Hukuman Disiplin Anda berupa {{user.hkm_jenis.hkm_label}} akan berakhir pada {{akhir_hukuman}}.<br>
{{user.jk.label2}} dapat proaktif mengingatkan kami Subbagian Kepegawaian STIS untuk memproses berakhirnya masa hukuman disiplin tersebut.<br><br>

Demikian atas perhatian dan kerjasamanya disampaikan terima kasih.
<br>
<br>
Subbagian Kepegawaian STIS
<hr>
<em><span>Email ini dibuat secara otomatis. Mohon tidak membalas email ini</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://simanis.stis.ac.id">Masuk</a>.</span></em>