<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
span {
    color: #999;
    font-size: 
}
</style>
Yth. {{user.jk.label2}} {{user.nama}} (admin)
<br><br>
Bersama ini diberitahukan bahwa masa Hukuman Disiplin pegawai berikut yaitu:
<table>
	<tr>
        <th rowspan="2">Nama</th>
        <th colspan="2">Hukuman</th>
    </tr>
    <tr>
        <th>Jenis</th>
        <th>Akhir</th>
    </tr>
	{{#each stafNotif}}
        <tr>
            <td>{{user.nama}}</td>
            <td>{{user.hkm_jenis.hkm_label}}</td>
            <td>{{../akhir_hukuman}}</td>
        </tr>
    {{/each}}
</table>
Mohon agar memproses berakhirnya masa hukuman disiplin tersebut tepat pada waktu yang ditentukan.<br><br>

Demikian atas perhatian dan kerjasamanya disampaikan terima kasih.
<br>
<br>
Subbagian Kepegawaian STIS
<hr>
<em><span>Email ini dibuat secara otomatis. Mohon tidak membalas email ini.</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://simanis.stis.ac.id/admin">Masuk</a>.</span></em>