<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
span {
    color: #999;
    font-size: 
}
</style>

Yth. {{jbt_nama.user.jk.label2}} {{jbt_nama.user.nama}}
<br><br>
Bersama ini diberitahukan bahwa Batas Usia Pensiun (BUP) staf {{jbt_nama.user.jk.label2}} jatuh pada {{pensiun}}, yaitu:
<table>
	<tr>
        <th>Nama</th>
        <th>Tgl Lahir</th>
        <th>Pensiun</th>
    </tr>
	{{#each stafNotif}}
	<tr>
        <td>{{user.nama}}</td>
        <td>{{user.ttl_t}}</td>
        <td>{{user.pensiun}}</td>
    </tr>
    {{/each}}
</table>
Demikian disampaikan atas perhatiannya Terima kasih.
<br>
<em>Subbagian Kepegawaian STIS<em>
<hr>
<em><span>Email ini dibuat secara otomatis. Mohon tidak membalas email ini.</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://simanis.stis.ac.id">Masuk</a>.</span></em>