<style>
span {
    color: #999;
    font-size: 
}
</style>
Yth. {{user.jk.label2}} {{user.nama}}
<br><br>
Jadwal Kenaikan Gaji Berkala {{user.jk.label2}} dapat dilakukan pada <strong>{{user.periode_kgb}}</strong>. 
Sesuai dengan PP Nomor 7 tahun 1977, pasal 13, Kenaikan Gaji Berkala dapat ditunda apabila pegawai yang bersangkutan:
<ol>
	<li>Melakukan perbuatan tercela yang dapat mengurangi nilai rata-rata PPK (Penilaian Prestasi Kerja) 
menjadi 60 ke bawah (PP Nomor 46 tahun 2011)</li>
	<li>Sedang menjalani hukuman disiplin (PP Nomor 53 Tahun 2010)</li>
</ol>
Demikian disampaikan atas perhatiannya Terima kasih.
<br>
<br>
Subbagian Kepegawaian STIS
<hr>
<em><span>Email ini dibuat secara otomatis. Mohon tidak membalas email ini. Anda akan kembali menerima email ini 15 hari kemudian. Untuk berhenti menerima email klik <a href="http://simanis.stis.ac.id/konfirmasi/kb/{{unsubscribe_token}}">konfirmasi email</a>.</span><br>
<span><a href="http://simanis.stis.ac.id">SIMANIS - Kepegawaian STIS</a>.</span></em>