<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
span {
    color: #999;
    font-size: 
}
</style>

Yth. {{user.jk.label2}} {{user.nama}} (admin)
<br><br>
Bersama ini diberitahukan bahwa periode Kenaikan Gaji Berkala (KGB) pegawai berikut jatuh pada {{periode_kgb}}, yaitu:
<table>
	<tr>
        <th>Nama</th>
        <th>TMT CPNS</th>
        <th>Periode KGB</th>
    </tr>
	{{#each stafNotif}}
	<tr>
        <td>{{user.nama}}</td>
        <td>{{user.tmt_cpns}}</td>
        <td>{{user.periode_kgb}}</td>
    </tr>
    {{/each}}
</table>
Demikian disampaikan atas perhatiannya Terima kasih.
<br>
<em>Subbagian Kepegawaian STIS<em>
<hr>
<em><span>Email ini dibuat secara otomatis. Mohon tidak membalas email ini.</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://simanis.stis.ac.id">Masuk</a>.</span></em>