<style>
span {
    color: #999;
    font-size: 
}
</style>
Yth. {{user.jk.label2}} {{user.nama}}
<br><br>
Jadwal Kenaikan Pangkat Reguler Anda ke golongan <strong>{{gol_target}}</strong> dapat dilakukan pada periode <strong>{{periode_tmt}}</strong>.
<br><br>
Mohon agar melengkapi berkas-berkas pengusulan Kenaikan Pangkat tersebut yaitu:
<br>
1. Copy SK Kenaikan Pangkat terakhir<br>
2. Copy DP-3 tahun 2013 dan SKP<br>
3. Copy Ijazah (legalisir pejabat yang berwenang)<br>
4. Copy SK Tugas Belajar/Ijin Belajar<br><br>

diserahkan kepada Subbagian Kepegawaian STIS paling lambat <strong>01 {{bu_stis}}</strong> untuk diproses lebih lanjut.
<br><br>
Terima kasih,
<br>
Subbagian Kepegawaian STIS
<hr>
<em><span>Email ini dibuat secara otomatis. Mohon tidak membalas email ini. Anda akan menerima email reminder ini setiap minggu (dalam bulan ini). Untuk berhenti menerima email klik <a href="http://simanis.stis.ac.id/konfirmasi/pb/{{unsubscribe_token}}">konfirmasi</a>.</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://simanis.stis.ac.id">Masuk</a>.</span></em>